* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    padding: 10px;
    border-bottom: 1px solid #F4A79F;
    width: 100%;
    height: 12%;
    background: white;
}

.menu-icon-container {
    background: transparent;
    border: none;
    position: absolute;
    left: 25px;
}

span.menu {
    font-size: 7vw;
}

.logo-container {
    width: 35%;
    height: auto;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.hide-section-container {
    width: 100%;
    height: 726px;
    display: none;
}

.hide-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid #F4A79F;
    width: 100%;
    height: 12%;
}

.close-icon-container {
    background: transparent;
    border: none;
    position: absolute;
    left: 25px;
}

span.close {
    font-size: 7vw;
}

.hide-section-image-container {
    width: 35%;
    height: auto;
}

.hide-section-image-container img {
    width: 100%;
    height: 100%;
}

.close-links {
    position: absolute;
    top: 100px;
    padding: 10px;
    width: 100%;
}

.hide-section-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.hide-section-links #resources-link {
    display: block;
    color: black;
    text-decoration: none;
}

.hide-section-links #accounting-link {
    display: block;
    padding-left: 20px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.hide-section-links #statistics-link {
    display: block;
    padding-left: 20px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

#courseActionButton-main {
    background: none;
    border: none;
    font-size: 4vw;
}

#courseActionButton2-main {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    font-size: 4vw;
    display: none;
    padding: 0;
}

#courseActionButton {
    background: none;
    border: none;
}

#courseActionButtonDown {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    display: none;
}

#course-vid1 {
    display: none;
}

#course-vid2 {
    display: none;
}


.main {
    position: absolute;
    top: 87px;
    left: 0;
    right: 0; 
}

.videos {
    width: 100%;
    height: 200px;
    text-align: center;
}

.videos iframe {
    display: inline-block;
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

.title p {
    text-align: center;
}